.nav {
}

.mobile-nav {
  display: none;
}
.desktop-nav {
  background-color: none;
  display: flex;
  /* flex-direction: row; */
}

.nav-text {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: auto;
}
.nav-text li {
  font-size: 1.2vw;
  padding: 0 12px;
  margin: auto;
}
.nav-text li:hover {
  border-bottom: solid 2px goldenrod;
  color: goldenrod;
}
.nav-text li.noHover:hover {
  border-bottom: initial;
}
.navLeft {
  display: flex;
  flex-direction: row;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 110px;
  max-width: 110px;
  border-radius: 50%;
  /* margin: auto; */
  /* justify-content: center; */
}

/* .navMid{
    border: solid 3px white;
} */

/* SCREEN RESPONSIVENESS */
@media screen and (max-width: 920px) {
}
@media screen and (max-width: 800px) {
  /* SCREEN SIDE 780 OR LOWER */
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    padding-top: 0;
    padding-bottom: 0;
    /* border: solid 2px rgb(255, 255, 255); */
  }
  .mobile-left {
    position: relative;
  }
  .mobile-left img {
    height: auto;
    width: 40%;
  }
  .mobile-right {
    position: fixed;
    height: 100vh;
    width: 300px;
    justify-content: flex-end;
    right: 0;
    top: 0;
    padding: 50px;
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(20px);
    overflow-y: auto;
  }

  .mobile-right ul {
    transition: 0.5s ease-in-out;
  }

  .logo2 {
    padding: 20px;
    height: 25%;
    max-width: 25%;
    border-radius: 50%;
    /* margin: auto; */
    /* justify-content: center; */
  }

  .isclosed {
    transition: 0.5s ease-in-out;
    justify-content: flex-end;
    right: 0;
    top: 0;
    /* padding: 50px; */
  }
  .isclosed ul {
    display: none;
  }

  .isclosed li {
  }
  .navTxt li {
    margin-bottom: 40px;
    font-size: 22px;
    border-bottom: solid 1px goldenrod;
  }

  .navTxt li:hover {
    color: goldenrod;
  }
  .drawer {
    font-size: 40px;
  }

  .menu-btn {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
  }
}
