.cont {
}

.Landing-header {
  background-image: url("../../../public/static/backgorund.svg");
  height: 90vh;
  background-size: cover;
  color: azure;
}

.landing-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  /* padding-right: 20vh;
    padding-top: 10vh;
    padding-left: 5vh;
    padding-bottom: 20vh; */
}

.landing-txt h1 {
  font-size: 3.5rem;
  color: #cc9600;
}
