.artistSec{
    
}


.text{
   
}
.text p{
    color:#000000;
    font-size: 20px;
}

.image{
    background-color:#5e543f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: auto;
    width: 80%;
    margin: 3%;
}



/* SCREEN RESPONSIVENESS */

@media screen and (max-width:780px) {
    .artistSec{
        display: flex;
        flex-direction: column;
    }
    .image{
        background-color:#5e543f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image img{
        height: auto;
        width: 80%;
        margin: 3%;
    }
}